### 데이터 불러오기

In [1]:
import pandas as pd 

train = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')
sub   = pd.read_csv('./data/sample_submission.csv')

In [3]:
train.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
revenue                    int64
dtype: object

#### original_language 포함 production_companies, production_countries, spoken_languages 까지 모두 라벨링

#### 원할한 라벨링을 위해 train데이터와 test데이터를 합친다.

In [9]:
test['revenue'] = 0

all = pd.concat([train, test], ignore_index=True)
print(all.shape)
all.iloc[2999:3001]

(7398, 23)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155
3000,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",0

#### 라벨링 함수 만들기

In [12]:
from sklearn.preprocessing import LabelEncoder

def labelencoder(data, column):
    label = LabelEncoder()
    label.fit(data[column])
    data[column] = label.transform(data[column])

##### original_language 적용

In [13]:
labelencoder(all, 'original_language')

In [14]:
all['original_language'][0:10]

0    10
1    10
2    10
3    16
4    24
5    10
6    10
7    10
8    10
9    10
Name: original_language, dtype: int64

In [18]:
all.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,10,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,10,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,10,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,16,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,24,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

##### Labeling completed
####   
#### production_companies, production_countries, spoken_languages 도 한 꺼번에 적용

In [19]:
labelencoder(all, 'production_companies')
labelencoder(all, 'production_countries')
labelencoder(all, 'spoken_languages')

TypeError: '<' not supported between instances of 'float' and 'str'

In [21]:
all['production_companies'][0:5]

0    [{'name': 'Paramount Pictures', 'id': 4}, {'na...
1          [{'name': 'Walt Disney Pictures', 'id': 2}]
2    [{'name': 'Bold Films', 'id': 2266}, {'name': ...
3                                                  NaN
4                                                  NaN
Name: production_companies, dtype: object

In [22]:
all['production_countries'][0:5]

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3              [{'iso_3166_1': 'IN', 'name': 'India'}]
4        [{'iso_3166_1': 'KR', 'name': 'South Korea'}]
Name: production_countries, dtype: object

In [23]:
all['spoken_languages'][0:5]

0             [{'iso_639_1': 'en', 'name': 'English'}]
1             [{'iso_639_1': 'en', 'name': 'English'}]
2             [{'iso_639_1': 'en', 'name': 'English'}]
3    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4             [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
Name: spoken_languages, dtype: object

### production_companies, production_countries, spoken_languages 의 경우 전처리 필요
###

### 1) production_companies

In [24]:
all['production_companies'][0]

"[{'name': 'Paramount Pictures', 'id': 4}, {'name': 'United Artists', 'id': 60}, {'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]"

In [25]:
all['production_companies'][1]

"[{'name': 'Walt Disney Pictures', 'id': 2}]"

In [26]:
all['production_companies'][4]

nan

In [27]:
len(all['production_companies'][0])

130

In [28]:
len(all['production_companies'][1])

43

#### 보기엔 리스트'[abc, def, ghi ]' 형태로 되어있지만 모두 문자열로 구성되어 있다.

#### 아래의 경우 제작사가 2개이다. 이 경우 ,(컴마)가 3개가 들어간다.

In [29]:
all['production_companies'][6]

"[{'name': 'Ghost House Pictures', 'id': 768}, {'name': 'North Box Productions', 'id': 22637}]"

#### 제작사가 1개일 경우 ,(컴마)가 1 개 들어간다.

In [30]:
all['production_companies'][1]

"[{'name': 'Walt Disney Pictures', 'id': 2}]"

#### 제작사가 3개일 경우 ,(컴마)는 5개이다.

In [31]:
all['production_companies'][0]

"[{'name': 'Paramount Pictures', 'id': 4}, {'name': 'United Artists', 'id': 60}, {'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]"

####    
#### 규칙은 제작사 1개당 ,(컴마)는 하나이다. 이는 이름과 id를 구분하기 위해서 쓰인다.
#### 제작사가 2개일 경우는 제작사들끼리 구분하는 ,(컴마)가 하나 더 들어간다.
#### 즉, 제작사의 개수가 1 - 2 - 3 - 4일 경우 ,(컴마)는 1 - 3 - 5 - 7 씩 늘어난다.(제작사 구분 ,(컴마) 하나와 id구분 ,(컴마) 하나 해서 둘씩 증가)

In [32]:
all['production_companies'][0]

"[{'name': 'Paramount Pictures', 'id': 4}, {'name': 'United Artists', 'id': 60}, {'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]"

In [33]:
all['production_companies'][0].count(',')

5

In [34]:
all['production_companies'][0].count(',') - 2

3

In [36]:
all['production_companies'][1].count(',') - 2

-1

In [ ]:
# ,(컴마)가 두 개부터는 아래 코드가 통하지만 하나일 경우 -1이 되어서 쓸 수 없고,  for문을 사용해야 한다. 

all['Num_of_pcom'] = all['production_companies'].count(',') - 2