# New York City Taxi Trip Duration 01 - EDA

### ※ 프로젝트 개요
####   
####   
### ● 뉴욕의 택시 이동 거리 예측
### ● 화
### ● 이

###   
### 목표 : 데이터에 대한 EDA(탐색적 데이터 분석)을 수행하고, 텐서플로를 활용하여 수요를 예측해본다.
###   
###

## 1. 데이터 불러오기

In [2]:
import pandas as pd

#### train 데이터

In [5]:
train = pd.read_csv("train.csv", parse_dates = ['pickup_datetime', 'dropoff_datetime'])
print(train.shape)
train.head()

(1458644, 11)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

#### test 데이터

In [6]:
test = pd.read_csv("test.csv", parse_dates = ['pickup_datetime'])
print(test.shape)
test.head()

(625134, 9)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

#### 제출양식

In [7]:
predictions = pd.read_csv("sample_submission.csv")
print(predictions.shape)
predictions.head()

(625134, 2)

          id  trip_duration
0  id3004672            959
1  id3505355            959
2  id1217141            959
3  id2150126            959
4  id1598245            959

####   
####

## 2. 데이터 탐색